<div class="collection">
    {{#each allCard}}
        <hr>
        <a href="/cards/{{numbCard}}">
            <li class="collection-item"> {{numbCard}}</li>
        </a>

        <hr>
    {{/each}}
</div>