<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/js/application.js"></script>
<!--    <script defer src="/js/alert.js"></script>-->
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <div class="nav-wrapper  grey lighten-5>
        <a href="#" class="brand-logo right ">STOM</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/google">Sign with google</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/timetable">Timetable</a></li>
            <li><a href="/cards">Cards</a></li>
        </ul>
    </div>
</nav>
    {{{body}}}
</body>
</html>