<form method="post" action="/registration">
    <div>
        <label> username: <input name="username"> </label>
    </div>
    <div>
        <label> password: <input name="password"> </label>
    </div>
    <button>submit</button>
</form>