<form method="post" action="/registration">
    <div>
        <label> username: <input name="username"> </label>
    </div>
    <div>
        <label> email: <input name="email"> </label>
    </div>
    <div>
        <label> password: <input name="password"> </label>
    </div>
    <button>submit</button>
</form>
<!--<script defer src="/js/alert.js"></script>-->